<span class="name"><%= event.user.name %></span>
<span class="event-name">给任务 </span>
<span class="event-text"><%= event.event_content["commentable_title"]%></span>
<span class="event-name"> 发表了回复: </span>
<div class="event-text"><%= event.event_content["content"] %></div>