<% if @events.any? %>
    <% current_parent_id = nil %>
    <% event_date = nil %>
    <% for event in @events %>
        <% if event_date.nil? || event.created_at.strftime('%m-%d') != event_date %>
            <% event_date = event.created_at.strftime('%m-%d') %>
            <h1><%= event_date %></h1>
        <% end %>
        <% if current_parent_id.nil? || event.parentable_id != current_parent_id %>
            <% current_parent_id = event.parentable_id %>
            <div><h2><%= event.parentable.name %></h2></div>
            <hr>
        <% end %>
        <% if event.eventable_type? %>
            <div class="event">
              <h4 class="event-time"><%= event.created_at.strftime('%H:%M') %></h4>
              <div class="event-detail">
                <%= render "events/#{event.eventable_type.downcase}/#{event.action}", event: event %>
              </div>
            </div>
        <% end %>
    <% end %>
<% end %>