<span class="name"><%= event.user.name %></span>
<span class="event-name">将任务</span>
<span class="event-name"><%= event.event_content["title"] %></span>
<span class="event-name">指派给</span>
<span class="event-text"><%= event.event_content["doer_name"] %></span>