<span class="name"><%= event.user_name %></span>
<span class="event-name">将任务</span>
<span class="event-name"><%= event.event_content["title"] %></span>
<span class="event-text">的负责人由<%= event.event_content["old_doer_name"] %></span>
<span class="event-name">修改为</span>
<span class="event-text"><%= event.event_content["doer_name"] %></span>